body{
    background-size:cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
}
.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}
/* .dropdown-menu{
    border: 3px solid midnightblue;
    float: right;
    margin-top: 12em;
    margin-right: 32em;
    background-color: silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 2em;
}
.btn{
    font-size: large;
    transform: translateX(6em);
}
.form-control1{
    transform: translateX(40px);
} */
/* .a1{
    text-decoration: none;
    color: inherit;
} */